@import "tailwindcss";

@theme {
  --color-brand: #e51a23; /* Logo Red */
  --color-brand-light: #ff333d;
  --color-brand-dark: #b3141a;
  --color-dark: #0f1014; /* Deep charcoal almost black */
  --color-darker: #06070a; 
  --color-surface: #1e2029; 
  --color-surface-hover: #2a2d3b;
}

@layer base {
  :root {
    --background: var(--color-darker);
    --foreground: #f8fafc;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-darker);
}
::-webkit-scrollbar-thumb {
  background: var(--color-surface);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand);
}
